* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    border: 2px solid black;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.boxContainer {
    border: 2px solid pink;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.box {
    border: 2px solid yellow;
    flex: 1;
}