* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    border: 1px solid black;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.boxContainer {
    flex: 1;
    border: 2px solid pink;
}